h1 {
  font-size: 2em; /* Default font size for <h1> */
}

h2 {
  font-size: 1.5em; /* Default font size for <h2> */
}

h3 {
  font-size: 1.17em; /* Default font size for <h3> */
}

h4 {
  font-size: 1em; /* Default font size for <h4> */
}

h5 {
  font-size: 0.83em; /* Default font size for <h5> */
}

.ck-heading_heading1 {
  font-size: 24px; /* Adjust the font size as needed */
}

.ck-heading_heading2 {
  font-size: 20px; /* Adjust the font size as needed */
}
